<style>
   #search-btn{
    background-color: #FF5A5F;
    color:white;
  }
  #search-input{
    padding:0.5rem 3rem 0.5rem 3rem;
  }
  .search-bar{
    display: flex;
    margin-left: 250px;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-airbnb"></i>WanderLust</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings/new">Add new listing</a>
       
        </div>
        <div class="search-bar">
       <form class="d-flex" role="search" action="/search" method="get">
           <input name="query" class="form-control me-2 search-input" id="search-input" type="search" placeholder="Search destinations">
            <button class="btn btn-search" id="search-btn" type="submit">Search</button>
        </form>
        </div>
  
        <div class="navbar-nav ms-auto">
          <% if(!currUser){%>
            <a class="nav-link"  href="/signup"><b>Signup</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
          <%}%>
          <% if(currUser){%>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>

  <script>
  async function search() {
    const query = document.getElementById('searchInput').value;
    const res = await fetch(`/search?query=${encodeURIComponent(query)}`);
    const data = await res.json();

    const resultsDiv = document.getElementById('results');
    if (data.length === 0) {
      resultsDiv.innerHTML = "<p>No results found.</p>";
      return;
    }

    resultsDiv.innerHTML = data.map(item => `
      <div class="card my-2 p-3">
        <h5>${item.title}</h5>
        <p><strong>Location:</strong> ${item.location}</p>
        <p>${item.description}</p>
        <a href="/listings/${item._id}" class="btn btn-sm btn-primary">View Listing</a>
      </div>
    `).join('');
  }
</script>
