<% layout("/layouts/boilerplate.ejs")%> 
<!DOCTYPE html>
<html lang="en">
<body>
    <% 
  const trendingTitles = ["Cozy Beachfront Cottage","Modern Loft in Downtown","Beachfront Paradise"]; 
%>
     <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" >
         <% for(let listing of allListings){
             if (trendingTitles.includes(listing.title)) { %>
         <a href="/listings/<%=listing._id%>">
                <div class="card col" style=" display:inline-block;justify-content: space-evenly;">
                    <img src="<%=listing.image.url%>" class="card-img-top" style="width:20rem;height:20rem;" alt="...">
                    <div class="card-body">
                      <p class="card-text"><b><%=listing.title%></b><br>&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
                      <i class="tax-info"> &nbsp; +18% GST</i>
                    </div>
                </div>
         </a>
          <%} }%>
     </div>
</body>
</html>